* {
    box-sizing: border-box;
    margin: 8px;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
    grid-column: auto;
}

head {
    text-align: center;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

body {
    height: 100%;
    margin: 5px;
    padding: 2px;
    font-family: sans-serif;
    background-color: #f9fbfd;
    grid-column: grid;
}

textarea {
    width: 15%;
}

.dashboard {
    text-align: center;
    background: linear-gradient(to left, #0000ff 0%, #99ccff 100%);
}

.cities {
    flex-direction: row;
    margin: 0px;
    float: left;
}

.cities button{
    background-color: gray;
    cursor: pointer;
    width: 180px;
    text-align: center;
}

.btn {
    width: 200px;
    background-color: blue;
    text-align: left;
    color: white;
    text-align: center;
    cursor: pointer;
}

.selected-city {
    text-align: center;
    float: right;
    width: 900px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

.forecast {
    text-align: center;
    float: right;
    width: 900px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

.forecast ul {
    position: row
}